@media screen and ((min-width: 320px) and (max-width: 480.98px)),
(max-width: 319.98px) {
    .main {
        .rows {
            .item {
                width: 100%;
                align-items: center;
                justify-content: space-between;
                &__photo{
                    width: 50%;
                    height: 50%;
                }
                &__data {
                    margin: 10px;
                    width: 30%;
                    flex-direction: column;
                    gap: 20px;
                    &__status {
                        &__activity {

                            p {
                                font-size: 12px;

                                span {
                                    font-size: 10px;
                                }
                            }
                        }
                    }

                    &__date {
                        &__activity {

                            p {
                                gap: 6px;
                                font-size: 12px;

                                span {
                                    font-size: 10px;
                                }
                            }
                        }
                    }

                    &__upload {
                        p:nth-child(1) {
                            font-size: 10px;
                        }

                        p:last-child {
                            font-size: 8px;
                        }
                    }
                }
            }
        }

        .tiles {
            justify-content: center;

            .item {
                width: 50%;

                &__data {
                    &__status {
                        p{
                            font-size: 12px;
                        }
                        &__activity {

                            p {
                                font-size: 12px;

                                span {
                                    font-size: 10px;
                                }
                            }
                        }
                    }

                    &__date {
                        justify-self: flex-end;

                        p{
                            font-size: 10px;
                        }
                        &__activity {

                            p {
                                justify-content: flex-end;
                                font-size: 12px;

                                span {
                                    font-size: 10px;
                                }
                            }
                        }
                    }

                    &__upload {
                        p:nth-child(1) {
                            font-size: 10px;
                        }

                        p:last-child {
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
}